*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p,
span {
    letter-spacing: 0.1rem;
}

img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

body {
    width: 100%;
    counter-reset: game;
}

.main__container {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: grid;
    place-items: center;
}

input:checked {
    counter-increment: game;
}

.total__counter::after {
    content: counter(game);
}

/* === Animation === */
.phone {
    position: relative;
    border: 8px solid #333;
    width: 30rem;
    height: 60rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 25px 2px #333;
    background-color: #CCEFFF;
}

.layer-1 {
    position: absolute;
    z-index: 1;
    background-color: #f2f2f2;
    height: 45rem;
    width: 8rem;
    bottom: 0;
    left: 15%;
    border-radius: 5rem;
}

.layer-2 {
    position: absolute;
    z-index: 2;
    background-color: #f2f2f2;
    height: 45rem;
    width: 8rem;
    bottom: 0;
    right: 15%;
    border-radius: 5rem;
}

.layer-3 {
    position: absolute;
    z-index: 3;
    height: 40rem;
    width: 22.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: green;
    border-radius: 1rem;
}

.layer-4 {
    position: absolute;
    z-index: 4;
    height: 37.5rem;
    width: 22.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: chocolate;
    border-radius: 1rem;

}

.layer-5 {
    position: absolute;
    z-index: 5;
    background-color: #f2f2f2;
    height: 35rem;
    width: 8rem;
    bottom: 0;
    left: 5%;
    border-radius: 5rem;
}

.layer-6 {
    position: absolute;
    z-index: 6;
    background-color: #f2f2f2;
    height: 35rem;
    width: 8rem;
    bottom: 0;
    right: 30%;
    border-radius: 5rem;
}

.layer-7 {
    position: absolute;
    z-index: 7;
    height: 30rem;
    width: 22.5rem;
    left: -20%;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: green;
    border-radius: 1rem;
}

.layer-8 {
    position: absolute;
    z-index: 8;
    height: 27.5rem;
    width: 22.5rem;
    left: -20%;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: chocolate;
    border-radius: 1rem;
}

.layer-9 {
    position: absolute;
    z-index: 9;
}

.layer-10 {
    position: absolute;
    z-index: 10;
}