*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p,
span {
    letter-spacing: 0.1rem;
}

img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.main {
    width: 100%;
    background-color: #fff;
}