*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p,
span {
    letter-spacing: 0.1rem;
}

img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

body {
    width: 100%;
    counter-reset: game;
}

.main__container {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: grid;
    place-items: center;
}

input:checked {
    counter-increment: game;
}

.total__counter::after {
    content: counter(game);
}

/* === Animation === */
.phone {
    position: relative;
    border: 8px solid #333;
    width: 30rem;
    height: 60rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 25px 2px #333;
    background-color: #CCEFFF;
}

.layer-1 {
    position: absolute;
    z-index: 1;
    background-color: #f2f2f2;
    height: 45rem;
    width: 8rem;
    bottom: 0;
    left: 15%;
    border-radius: 5rem;
    box-shadow: 1px 2px 15px #333;
}

.eyeLeft {
    position: relative;
    z-index: 2;
    width: 15px;
    height: 15px;
    background-color: hsl(0deg 0% 20%);
    left: 20px;
    right: 0;
    bottom: -25px;
    border-radius: 50%;
}

.eyeRight {
    position: relative;
    z-index: 2;
    width: 15px;
    height: 15px;
    background-color: hsl(0deg 0% 20%);
    left: 55px;
    right: 0;
    bottom: -10px;
    border-radius: 50%;
}

.layer-2 {
    position: absolute;
    z-index: 2;
    background-color: #f2f2f2;
    height: 45rem;
    width: 8rem;
    bottom: 0;
    right: 15%;
    border-radius: 5rem;
    box-shadow: 1px 2px 15px #333;
}

.layer-3 {
    position: absolute;
    z-index: 3;
    height: 40rem;
    width: 22.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: green;
    border-radius: 2rem;
    box-shadow: 2px 2px 10px #333;
}

.layer-4 {
    position: absolute;
    z-index: 4;
    height: 37.5rem;
    width: 22.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: chocolate;
    border-radius: .5rem;

}

.layer-5 {
    position: absolute;
    z-index: 5;
    background-color: #f2f2f2;
    height: 35rem;
    width: 8rem;
    bottom: 0;
    left: 5%;
    border-radius: 5rem;
    box-shadow: 1px 2px 15px #333;
}

.layer-6 {
    position: absolute;
    z-index: 6;
    background-color: #f2f2f2;
    height: 35rem;
    width: 8rem;
    bottom: 0;
    right: 30%;
    border-radius: 5rem;
    box-shadow: 1px 2px 15px #333;
}

.layer-7 {
    position: absolute;
    z-index: 7;
    height: 30rem;
    width: 22.5rem;
    left: -20%;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: green;
    border-radius: 2rem;
    box-shadow: 2px 2px 10px #333;
}

.layer-8 {
    position: absolute;
    z-index: 8;
    height: 27.5rem;
    width: 22.5rem;
    left: -20%;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: chocolate;
    border-radius: .5rem;
}

.layer-9 {
    position: absolute;
    z-index: 9;
    background-color: #f2f2f2;
    height: 25rem;
    width: 8rem;
    bottom: 0;
    right: 7.5%;
    border-radius: 5rem;
    box-shadow: 1px 2px 15px #333;
}

.layer-10 {
    position: absolute;
    z-index: 10;
    height: 20rem;
    width: 15rem;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: green;
    border-radius: 2rem;
    box-shadow: 2px 2px 10px #333;
}

.layer-11 {
    position: absolute;
    z-index: 10;
    height: 17.5rem;
    width: 15rem;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: chocolate;
    border-radius: 1rem;
}

.grass-1 {
    position: absolute;
    z-index: 11;
    width: 100%;
    background-color: hsl(120deg 100% 25%);
    height: 75px;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 1rem;
}

.grass-2 {
    position: absolute;
    z-index: 12;
    width: 100px;
    background-color: hsl(120deg 100% 25%);
    height: 100px;
    bottom: 0;
    left: 15%;
    right: 0;
    border-radius: 50%;
}

.grass-3 {
    position: absolute;
    z-index: 13;
    width: 100px;
    background-color: hsl(120deg 100% 25%);
    height: 75px;
    bottom: 10px;
    right: 50%;
    border-radius: 50%;
}

.grass-4 {
    position: absolute;
    z-index: 14;
    width: 100px;
    background-color: hsl(120deg 100% 25%);
    height: 75px;
    bottom: 15px;
    left: 50%;
    border-radius: 50%;
}