*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

figure {
    object-fit: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p,
span {
    letter-spacing: .1rem;
}

h3,
h4,
h5,
h6 {
    padding: 1rem;
    margin: 2rem auto;
}